<main class="flex-1 ">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card 1 -->
      <div class="card card-body bg-base-100 relative transition-all duration-300 hover:translate-x-2 hover:translate-y-2 hover:shadow-[2px_2px_0_rgba(0,0,255,1)] hover:cursor-pointer">
          <div class="flex items-center justify-between">
              <div>
                  <h2 class="text-lg font-semibold  ">
                      Total Balance
                  </h2>
                  <p class="text-2xl font-bold  ">
                      ${{ currentBalance | number: '1.2-2' }}
                  </p>
              </div>
              <i class="fas fa-wallet text-3xl  ">
              </i>
          </div>
      </div>
      <!-- Card 2 -->
      <div class="card card-body bg-base-100 relative transition-all duration-300 hover:translate-x-2 hover:translate-y-2 hover:shadow-[2px_2px_0_rgba(0,255,0,1)] hover:cursor-pointer">
          <div class="flex items-center justify-between">
              <div>
                  <h2 class="text-lg font-semibold  ">
                      Employment Months
                  </h2>
                <p  class="text-2xl font-bold  ">
                  {{employmentMonths}}
                 </p>
              </div>
              <i class="fas fa-business-time text-3xl  ">
              </i>
          </div>
      </div>
      <!-- Card 3 -->
      <div class="card card-body bg-base-100 relative transition-all duration-300 hover:translate-x-2 hover:translate-y-2 hover:shadow-[2px_2px_0_rgba(128,0,128,1)] hover:cursor-pointer">
          <div class="flex items-center justify-between">
              <div>
                  <h2 class="text-lg font-semibold  ">
                      Monthly Income
                  </h2>
                <p class="text-2xl font-bold  ">
                  ${{ monthlyIncome | number: '1.2-2' }}
                </p>
               <p *ngIf="monthlyIncome === 'None'" class="text-2xl font-bold  ">
                  None
                </p>
              </div>
              <i class="fas fa-dollar-sign text-3xl  ">
              </i>
          </div>
      </div>
  </div>
  <!-- Recent Activity -->
  <div class="mt-8">
      <h2 class="text-xl font-semibold   mb-4">
          Recent Activity
      </h2>
      <div class="card card-body bg-base-100 rounded-lg">
          <ul class="space-y-4">
              <li *ngFor="let notification of latestNotifications" class="flex items-center justify-between">
                  <div class="flex items-center">
                   <div>
                     <p class="  font-semibold">
                       {{ notification.message }}
                     </p>
                   </div>
                  </div>
                   <span class="  text-sm">
                     {{ notification.timestamp | date:'shortTime' }}
                   </span>
              </li>
          </ul>
      </div>
  </div>
</main>