<form (ngSubmit)="updatePar(pp)">
  <input type="text" [(ngModel)]="pp" name="symbol" class="input" />
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>

<div class="card">
  <div class="card-header">
    <h5>Line Chart Example</h5>
  </div>
  <div
    (wheel)="preventScroll($event)"
    (touchmove)="preventScroll($event)"
    class="card-body ">
    <apx-chart
      [series]="lineChartOptions.series!"
      [chart]="lineChartOptions.chart!"
      [xaxis]="lineChartOptions.xaxis!"
      [stroke]="lineChartOptions.stroke!"
      [dataLabels]="lineChartOptions.dataLabels!"
      [fill]="lineChartOptions.fill!"
      [tooltip]="lineChartOptions.tooltip!"
    ></apx-chart>
  </div>
</div>

<form (ngSubmit)="getPredictions()">
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate">

  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate">

  <input type="submit" value="Filter" class="btn btn-primary" />
</form>

<div class="card">
  <div class="card-header">
    <h5>Prediction Chart Example</h5>
  </div>
  <div class="card-body"
       (wheel)="preventScroll($event)"
       (touchmove)="preventScroll($event)"
  >
    <apx-chart
      [series]="predictionChartOptions.series!"
      [chart]="predictionChartOptions.chart!"
      [xaxis]="predictionChartOptions.xaxis!"
      [stroke]="predictionChartOptions.stroke!"
      [dataLabels]="predictionChartOptions.dataLabels!"
      [fill]="predictionChartOptions.fill!"
      [tooltip]="predictionChartOptions.tooltip!"
    ></apx-chart>
  </div>
</div>
