apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-frontend-deploy
  namespace: fintech
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-frontend
  template:
    metadata:
      labels:
        app: angular-frontend
    spec:
      containers:
        - name: angular-frontend
          image: public.ecr.aws/z1z0w2y6/angular-frontend:latest
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: angular-frontend-config
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
